.root {
  display: flex;
  flex-direction: column;
}
.head {
  padding-top: 20px;
  padding-bottom: 20px;
}
.playerAndDescription {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-column-gap: 40px;

  margin-bottom: 50px;
}
.player {
  grid-column: 1;
  height: fit-content;
  position: sticky;
  top: 20px;
}
.description {
  grid-column: 2;
}
.simulyar {
  margin-bottom: 50px;
}
.actorsCreators {
  margin-bottom: 50px;
}
.additionalMaterials {
  margin-bottom: 50px;
}
.comments {
  margin-bottom: 50px;
}
.allDvices {
  margin-bottom: 30px;
}
.crumbs {
  margin-bottom: 30px;
}
