.root {
  display: flex;
  flex-direction: column;
}

.inp:not(:last-child) {
  margin-bottom: 3px;
}

input[type='range'].inp {
  width: 50%;
  height: 5px;
}

.name {
  margin-bottom: 5px;
  color: var(--gray-72);
}
