.container {
  display: flex;
  flex-direction: column;
}

.accordionButton {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.textButton {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.content {
  position: relative;
}
