.title {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 20px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.title > span {
  margin-right: 20px;
}
.title > div {
  font-size: 16px;
}
.title:hover {
  opacity: 1;
}
.commentAdd {
  display: flex;
  align-items: center;
  width: fit-content !important;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.btnAddText:before {
  content: ' \002B';
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.commentAdd:hover {
  opacity: 1;
}
.blocCommentMain {
  position: relative;
  display: grid;
  grid-template-columns: 1fr, 100px;
  grid-gap: 20px;
  align-items: start;
  margin-top: 20px;
}
.listComments {
  grid-column: 1;
}
.right {
  grid-column: 2;
  position: sticky;
  top: 20px;
}

.modal {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px;
  box-shadow: 0px 0px 20px 0px rgba(224, 231, 236, 0.6) inset;
  border-radius: 8px;
}
.modalHead {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid var(--gray-hover);
  border-radius: 8px;
}
.modalHeadName {
  margin-left: 20px;
}
.modalHeadBtn {
  margin-left: auto;
}
.categoryComment {
  margin-bottom: 20px;
}
.inpTitle,
.textComment {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  border: 1px solid var(--gray-hover);
  border-radius: 8px;
}
.textComment::placeholder,
.inpTitle::placeholder {
  color: var(--white);
}
.textComment {
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  resize: none;
}
@media (max-width: 600px) {
  .listComments {
    flex-direction: row;
    overflow: auto;
  }
  .right {
    display: none;
  }
}
