.list {
  display: flex;
  flex-wrap: wrap;
}
.item {
  display: flex;
  align-items: center;
}
.item:not(:first-child)::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: var(--gray-72);
  margin-left: 7px;
  margin-right: 7px;
}
.link {
  color: var(--white);
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.link:hover {
  opacity: 1;
}
.lastLink {
  opacity: 1;
}
@media (max-width: 1160px) {
  .list {
    justify-content: center;
  }
}
