.root {
  width: 100vw;
  overflow: hidden;
}
.slider {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
}
.sliderImg {
  position: absolute;
  opacity: 0.2;
  transition: transform 1s ease-in-out;
  pointer-events: none;
}
.sliderImgPrev {
  transform: translateX(-102%);
}
.currentSlideImg {
  pointer-events: all;
  opacity: 1;
}
.sliderImgNext {
  transform: translateX(102%);
}
.sliderImgLast {
  transform: translateX(200%);
}
.btnControls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.btnControls:hover {
  opacity: 1;
}
.btnControlsLeft {
  left: -50px;
}
.btnControlsRight {
  right: -50px;
}
@media (max-width: 800px) {
  .sliderImgPrev {
    transform: translateX(-105%);
  }

  .sliderImgNext {
    transform: translateX(105%);
  }

  .btnControls {
    display: none;
  }
}
