.inputContainer {
  position: relative;
}

.inputSearch {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  color: var(--dark-gray);
  background-color: var(--gray-7e0);
  padding: 18px 40px 2px 12px;
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.inputSearch:focus ~ .icon {
  color: var(--gray-light-32);
}

.searchButton {
  position: absolute;
  top: -5px;
  right: 12px;
  font-size: 16px;
  line-height: 1;
  color: var(--gray-32);
}

.searchButton.activeIcon {
  color: var(--pink);
}

.searchButton:active {
  font-size: 17px;
  font-weight: 600;
}

.textPlaceholder {
  position: absolute;
  top: -7px;
  left: 9px;
  color: var(--gray-light);
  font-size: 15px;
  line-height: 20px;
  pointer-events: none;
  transition: all 150ms linear;
}

.inputSearch:not(:placeholder-shown) ~ .textPlaceholder,
.inputSearch:focus ~ .textPlaceholder {
  font-size: 12px;
  line-height: 1;
  top: -15px;
}
