.item {
  padding-left: 14px;
}

.entryModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--green);
  cursor: pointer;
}

.carouselContainer {
  --fz: 24px;
  --lh: 28px;
  --viewed-elements-count: 11;
}

@media (max-width: 1024px) {
  .carouselContainer {
    --viewed-elements-count: 8;
  }
}

@media (max-width: 768px) {
  .carouselContainer {
    --viewed-elements-count: 6;
  }
}

@media (max-width: 500px) {
  .carouselContainer {
    --viewed-elements-count: 5;
  }
}

@media (max-width: 453px) {
  .carouselContainer {
    --viewed-elements-count: 4;
  }
}

@media (max-width: 768px) {
  .carouselContainer {
    --fz: 18px;
    --lh: 22px;
  }
}
