.personHeader {
  margin-bottom: 80px;
}

.figure {
  width: 150px;
  height: 200px;
  margin-bottom: 20px;
}

.photo {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.info {
  margin-bottom: 20px;
}

.name {
  font-size: 56px;
  line-height: 56px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
}

.alternate {
  color: var(--gray-light);
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 600px) {
  .name {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 44px;
  }

  .personHeader {
    margin-bottom: 50px;
  }
}
