.containerOuter {
  padding: 32px 0px 16px;
}

@media (max-width: 768px) {
  .containerOuter {
    background-color: var(--dark-gray);
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainTitle {
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
}

.filtersText span {
  color: var(--gray-light);
  font-size: 15px;
  line-height: 20px;
}
