.root {
  display: flex;
  flex-direction: column;
}
.head {
  padding-top: 20px;
  padding-bottom: 20px;
}
.playerAndDescription {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-column-gap: 40px;

  margin-bottom: 50px;
}
.player {
  grid-column: 1;
  height: fit-content;
  position: sticky;
  top: 20px;
}
.description {
  grid-column: 2;
}
.simulyar {
  margin-bottom: 50px;
}
.actorsCreators {
  margin-bottom: 50px;
}
.additionalMaterials {
  margin-bottom: 50px;
}
.comments {
  margin-bottom: 50px;
}
.allDvices {
  margin-bottom: 30px;
}
.crumbs {
  margin-bottom: 30px;
}

.carousel.carousel {
  --fz: 24px;
  --lh: 28px;
  --left: -18px;
  --right: -21px;
}
.movieBadgeCarouselContent {
  padding-top: 5px;
  --viewed-elements-count: 7;
}

@media (max-width: 1050px) {
  .movieBadgeCarouselContent {
    --viewed-elements-count: 5;
  }
}

@media (max-width: 900px) {
  .movieBadgeCarouselContent {
    --viewed-elements-count: 4;
  }
}

@media (max-width: 768px) {
  .movieBadgeCarouselContent {
    --viewed-elements-count: 4;
  }
}

@media (max-width: 650px) {
  .movieBadgeCarouselContent {
    --viewed-elements-count: 3;
  }
}

@media (max-width: 453px) {
  .movieBadgeCarouselContent {
    --viewed-elements-count: 2;
  }
}

.movieBadgeContainer {
  padding: 0px 8px;
}

@media (max-width: 768px) {
  .movieBadgeContainer {
    padding: 0px 20px 0px 0px;
  }
}

@media (max-width: 650px) {
  .movieBadgeContainer {
    padding: 0px 8px 0px 0px;
  }
}
