.root {
  border-radius: 8px;
  background-color: var(--gray-08);
}
.commentFooter {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.commentBtn > span {
  margin-left: 10px;
}
.open {
  margin-right: auto;
}
.like {
  margin-left: 10px;
}
.modal {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px;
  box-shadow: 0px 0px 20px 0px rgba(224, 231, 236, 0.6) inset;
  border-radius: 8px;
}
.modalHead {
  background-color: var(--gray-hover);
  border-radius: 8px;
}
.modalComment {
  height: fit-content !important;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--gray-hover);
  border-radius: 8px;
}
.myComment {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  padding: 20px;

  background-color: var(--gray-hover);
  border-radius: 8px;

  font-size: 14px;

  resize: none;
}
.modalBlockBtn {
  display: flex;
  margin-top: 20px;
}
.modalBtn:first-child {
  margin-right: 20px;
}
@media (max-width: 600px) {
  .root {
    min-width: 250px;
  }
  .commentFooter {
    flex-direction: column;
  }
  .like {
    width: 100%;
    display: none;
  }
  .modal {
    padding: 10px;
    box-shadow: 0px 0px 20px 0px rgba(224, 231, 236, 0.6) inset;
    border-radius: 8px;
  }
  .modalHead {
    padding: 10px !important;
  }
  .modalComment {
    margin-top: 10px;

    padding: 10px !important;
  }
  .modalBlockBtn {
    margin-top: 10px;
  }
}
