.root {
  position: relative;
}
.root > a {
  display: block;
}
.pic {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.content {
  position: absolute;
  left: 30px;
  bottom: 60px;
  width: 50%;
}
.title {
  margin-bottom: 20px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.description {
  margin-bottom: 20px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.btn {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
@media (max-width: 1200px) {
  .title {
    font-size: 30px;
    line-height: 1.2;
  }
}
@media (max-width: 800px) {
  .pic {
    aspect-ratio: 1/1.3;
    object-fit: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
  .title {
    text-align: center;
  }
  .description {
    text-align: center;
    font-size: 15px;
  }
  .btn {
    display: none;
  }
}
