.video {
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
}
.list {
  margin-top: 15px;
}

@media (max-width: 1160px) {
  .root .list {
    display: none;
  }
}

@media (max-width: 880px) {
  .root .list {
    display: flex;
  }
}
