.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 26px;
}

.movieBadgeContainer {
  display: inline-block;
  width: calc(100% / 6);
  min-width: 140px;
  max-width: 227px;
  padding: 0px 8px;
}

@media (max-width: 1050px) {
  .movieBadgeContainer {
    width: calc(100% / 5);
  }
}

@media (max-width: 900px) {
  .movieBadgeContainer {
    width: calc(100% / 4);
  }
}
@media (max-width: 768px) {
  .movieBadgeContainer {
    padding: 0px 20px 0px 0px;
    width: calc(100% / 4);
  }
}

@media (max-width: 650px) {
  .movieBadgeContainer {
    width: calc(100% / 3);
    padding: 0px 8px 0px 0px;
  }
}

@media (max-width: 453px) {
  .movieBadgeContainer {
    width: 50%;
    min-width: 151px;
  }
}

.genreCardContainer {
  max-width: 186px;
  min-width: 155px;
  padding: 0 11px;
}

.innerContainerGenreCard {
  display: flex;
  justify-content: center;
  height: 128px;
}

@media (min-width: 2560px) {
  .genreCardContainer {
    width: calc(100% / 10);
  }
}

@media (min-width: 1732px) {
  .genreCardContainer {
    width: calc(100% / 7);
  }
}

@media (min-width: 1340px) {
  .genreCardContainer {
    width: calc(100% / 6);
  }
}

@media (min-width: 1137px) {
  .genreCardContainer {
    width: calc(100% / 5);
  }
}

@media (min-width: 952px) {
  .genreCardContainer {
    width: calc(100% / 4);
  }
}

@media (min-width: 768px) {
  .genreCardContainer {
    width: calc(100% / 3);
  }
}

@media (min-width: 574px) {
  .genreCardContainer.genreCardContainer {
    width: calc(100% / 2);
  }
}

.personCardContainer {
  display: inline-flex;
  align-items: flex-start;
  width: calc(100% / 6);
  max-width: 192px;
  min-width: 120px;
  padding: 4px 0px 0px 14px;
}

@media (max-width: 1024px) {
  .personCardContainer {
    width: calc(100% / 5);
    max-width: 170px;
  }
}

@media (max-width: 768px) {
  .personCardContainer {
    width: calc(100% / 4);
  }
}

@media (max-width: 500px) {
  .personCardContainer {
    width: calc(100% / 3);
  }
}

@media (max-width: 453px) {
  .personCardContainer {
    width: calc(100% / 2);
    max-width: 187px;
  }
}

.carousel.carousel {
  --fz: 24px;
  --lh: 28px;
  --left: -18px;
  --right: -21px;
}
