.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  width: 75%;
}

@media (max-width: 1160px) {
  .container {
    width: 100%;
  }
}

.text:not(.expanded) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.text {
  display: block;
  color: var(--gray-light);
  font-size: 15px;
  line-height: 20px;
}

.expandButton {
  color: var(--white);
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}
