.container {
  width: 100%;
  min-width: 80px;
  padding: 0 6px;
  cursor: pointer;
}

.containerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  padding: 16px 8px;
  height: 88px;
  background-color: var(--dark-gray);
  transition: duration 0.4s;
}

.containerInner:active {
  background-color: var(--gray-524);
}

.icon {
  position: relative;
  font-size: 32px;
  line-height: 1;
  color: var(--pink);
}

.icon::after {
  position: absolute;
  top: 0;
  right: 0;
}

.caption {
  transition-duration: 0.4s;
  color: var(--white);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  white-space: nowrap;
}
