.head {
  padding-top: 20px;
  padding-bottom: 20px;
}
.description {
  margin-bottom: 50px;
}
.player {
  margin-bottom: 30px;
}
.contentText {
  margin-top: 30px;
  margin-bottom: 30px;
}
.grading {
  margin-bottom: 30px;
}
.simulyar {
  margin-bottom: 50px;
}
.actorsCreators {
  margin-bottom: 50px;
}
.additionalMaterials {
  margin-bottom: 50px;
}
.comments {
  margin-bottom: 50px;
}
.allDvices {
  margin-bottom: 30px;
}
.crumbs {
  margin-bottom: 70px;
}
