.root:hover .name {
  opacity: 1;
}
.root:hover .position {
  opacity: 1;
}
.root:hover .pic {
  transform: scale(1);
}
.link {
  width: 100%;
}
.pic {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}

.noPhoto {
  margin-bottom: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: scale(0.95);
  background-color: var(--gray-60);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.noPhoto:hover {
  transform: scale(1);
}

.noPhotoIcon {
  position: relative;
  top: 50%;
  display: inline-block;
  color: var(--pink);
  font-size: clamp(3.5rem, 2vw + 3rem, 7rem);
  transform: translate(0, -50%);
}

.noPhotoIcon::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--white);
}

.name,
.surName {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: var(--gray-7e0);
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.surName {
  overflow: hidden;
  text-overflow: ellipsis;
}
.position {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--gray-light);
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
