.carousel {
  margin: 0 -24px;
  padding: 0 24px;
}

@media (min-width: 900px) {
  .carousel {
    border-bottom: 1px solid var(--gray-light);
    padding: 12px;
    margin: 0;
  }
}

@media (max-width: 1125px) {
  .genreCardContainer {
    width: 40%;
  }
}

@media (min-width: 900px) {
  .card.card {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    transition-duration: 0.8s;
  }

  .iconCard.iconCard {
    color: var(--white);
  }
  .card.card:hover,
  .card.card.active {
    background-color: var(--gray-798);
    border-color: var(--gray-798);
  }
}

.card.card.active {
  background-color: var(--gray-51);
  border-color: var(--gray-51);
}
