.headerDropdownBody {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-inline: 8px;
  background-color: var(--dark-gray);
  box-shadow: 0 20px 96px var(--gray-shadow);
  border-radius: 12px;
  opacity: 0;
  z-index: 2;
  transition-property: opacity;
  transition-duration: 250ms;
}

.headerDropdownBody.show {
  opacity: 1;
}

.headerDropdownBody.hide {
  opacity: 0;
}

@media (max-width: 1253px) {
  .headerDropdownBody {
    display: none;
  }
}
