.wrapper {
  display: flex;
  width: fit-content;
  margin-left: auto;
  padding: 2px;
  background-color: var(--gray-light);
  border-radius: 20px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  background-color: var(--gray-light);
  border-radius: 50%;
}
.active {
  background-color: var(--gray-active);
}
