.actorPage {
  padding: 20px 0 100px;
}

.back {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.span {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  margin-left: 8px;
  color: var(--white);
}

.arrow {
  transform: rotate(180deg);
}

.error {
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.filmographyContent {
  display: grid;
  gap: 24px;
  padding: 20px 0;
}

.title {
  color: var(--white);
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  cursor: pointer;
}

.lable {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: var(--gray-light);
  margin-left: 5px;
}

.btn {
  justify-self: self-start;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: var(--gray-light);
}

@media (max-width: 1160px) {
  .container {
    width: 66.666%;
    margin: 0 auto;
  }
}

@media (max-width: 880px) {
  .container {
    width: 80vw;
    margin: 0 auto;
  }

  .back {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .title {
    display: flex;
    flex-direction: column;
  }

  .lable {
    margin-left: 0px;
    margin-top: 10px;
  }
}
