.listComments {
  display: flex;
  flex-direction: column;
}

.ItemComments:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .listComments {
    flex-direction: row;
    overflow: auto;
  }
}
