.notFoundRoot {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 105%;
  background-image: url('/static/bg404.png');
}

@media (max-width: 768px) {
  .notFoundRoot.notFoundRoot {
    width: 100%;
    padding: var(--padding-mobile);
  }
}

.topInfo {
  display: flex;
  justify-content: center;
  aspect-ratio: 3.2/1;
}

.topInfoInner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  margin-left: 20px;
  margin-right: 20px;
}

.topInfoText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  text-align: center;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
}

.textError {
  color: var(--gray-light);
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}

.notFoundSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}
