.carouselContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  padding-left: 14px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.wrapper {
  position: relative;
}

.carouselContent {
  overflow-x: auto;
  transition: max-height 200ms ease;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.carouselContent::-webkit-scrollbar {
  display: none;
}

.prevButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -14px;
  font-size: 16px;
}

.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  font-size: 16px;
  width: 16px;
}
