@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.woff') format('woff');
  /* url('fonts/icomoon.svg?pl75vz#icomoon') format('svg'); */
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-d_56__0:before {
  content: '\e900';
}
.icon-k_32__0:before {
  content: '\e901';
}
.icon-k_56__0:before {
  content: '\e902';
}
.icon-32__0:before {
  content: '\e903';
}
.icon-56__0:before {
  content: '\e904';
}
.icon-32__01:before {
  content: '\e905';
}
.icon-56__01:before {
  content: '\e906';
}
.icon-32__02:before {
  content: '\e907';
}
.icon-56__02:before {
  content: '\e908';
}
.icon-about_16__0:before {
  content: '\e909';
}
.icon-about_20__0:before {
  content: '\e90a';
}
.icon-about_32__0:before {
  content: '\e90b';
}
.icon-about_32__1:before {
  content: '\e90c';
}
.icon-about_40__0:before {
  content: '\e90d';
}
.icon-about_40__1:before {
  content: '\e90e';
}
.icon-about_56__0:before {
  content: '\e90f';
}
.icon-about_56__1:before {
  content: '\e910';
}
.icon-add_8__0:before {
  content: '\e911';
}
.icon-add_16__0:before {
  content: '\e912';
}
.icon-add_20__0:before {
  content: '\e913';
}
.icon-add_32__0:before {
  content: '\e914';
}
.icon-add_40__0:before {
  content: '\e915';
}
.icon-add_56__0:before {
  content: '\e916';
}
.icon-add_72__0:before {
  content: '\e917';
}
.icon-ageLimit00_56__0:before {
  content: '\e918';
}
.icon-ageLimit06_56__0:before {
  content: '\e919';
}
.icon-ageLimit12_56__0:before {
  content: '\e91a';
}
.icon-ageLimit16_56__0:before {
  content: '\e91b';
}
.icon-agreement_16__0:before {
  content: '\e91c';
}
.icon-agreement_20__0:before {
  content: '\e91d';
}
.icon-airplayOff_20__0:before {
  content: '\e91e';
}
.icon-androidShare_16__0:before {
  content: '\e91f';
}
.icon-androidShare_20__0:before {
  content: '\e920';
}
.icon-androidShare_32__0:before {
  content: '\e921';
}
.icon-androidShare_32__1:before {
  content: '\e922';
}
.icon-androidShare_40__0:before {
  content: '\e923';
}
.icon-androidShare_40__1:before {
  content: '\e924';
}
.icon-androidShare_56__0:before {
  content: '\e925';
}
.icon-androidShare_56__1:before {
  content: '\e926';
}
.icon-androidShare_72__0:before {
  content: '\e927';
}
.icon-androidShare_72__1:before {
  content: '\e928';
}
.icon-anyDev_16__0:before {
  content: '\e929';
}
.icon-anyDev_20__0:before {
  content: '\e92a';
}
.icon-anyDev_32__0:before {
  content: '\e92b';
}
.icon-anyDev_32__1:before {
  content: '\e92c';
}
.icon-anyDev_56__0:before {
  content: '\e92d';
}
.icon-anyDev_56__1:before {
  content: '\e92e';
}
.icon-arrowDown_16x6__0:before {
  content: '\e92f';
}
.icon-arrowDown_20x8__0:before {
  content: '\e930';
}
.icon-arrowDown_32x12__0:before {
  content: '\e931';
}
.icon-arrowDownSquare_16__0:before {
  content: '\e932';
}
.icon-arrowDownSquare_32__0:before {
  content: '\e933';
}
.icon-arrowDownStraight_16__0:before {
  content: '\e934';
}
.icon-arrowFilledBottom_8__0:before {
  content: '\e935';
}
.icon-arrowFilledLeft_8__0:before {
  content: '\e936';
}
.icon-arrowFilledRight_8__0:before {
  content: '\e937';
}
.icon-arrowFilledTop_8__0:before {
  content: '\e938';
}
.icon-arrowLeft_5x12__0:before {
  content: '\e939';
}
.icon-arrowLeft_6x16__0:before {
  content: '\e93a';
}
.icon-arrowLeft_8x20__0:before {
  content: '\e93b';
}
.icon-arrowLeft_12x32__0:before {
  content: '\e93c';
}
.icon-arrowLeftSquare_16__0:before {
  content: '\e93d';
}
.icon-arrowLeftSquare_32__0:before {
  content: '\e93e';
}
.icon-arrowLeftStraight_16__0:before {
  content: '\e93f';
}
.icon-arrowRight_5x12__0:before {
  content: '\e940';
}
.icon-arrowRight_6x16__0:before {
  content: '\e941';
}
.icon-arrowRight_8x20__0:before {
  content: '\e942';
}
.icon-arrowRight_12x32__0:before {
  content: '\e943';
}
.icon-arrowRightSquare_16__0:before {
  content: '\e944';
}
.icon-arrowRightSquare_32__0:before {
  content: '\e945';
}
.icon-arrowRightStraight_16__0:before {
  content: '\e946';
}
.icon-arrowTailUpRight_20__0:before {
  content: '\e947';
}
.icon-arrowUp_16x6__0:before {
  content: '\e948';
}
.icon-arrowUp_20x8__0:before {
  content: '\e949';
}
.icon-arrowUp_32x12__0:before {
  content: '\e94a';
}
.icon-arrowUpSquare_16__0:before {
  content: '\e94b';
}
.icon-arrowUpSquare_32__0:before {
  content: '\e94c';
}
.icon-arrowUpStraight_16__0:before {
  content: '\e94d';
}
.icon-attach_16__0:before {
  content: '\e94e';
}
.icon-avatar_16__0:before {
  content: '\e94f';
}
.icon-avatar_20__0:before {
  content: '\e950';
}
.icon-avatar_32__0:before {
  content: '\e951';
}
.icon-avatar_40__0:before {
  content: '\e952';
}
.icon-avatar_56__0:before {
  content: '\e953';
}
.icon-avatar_56__1:before {
  content: '\e954';
}
.icon-back_stb_16__0:before {
  content: '\e955';
}
.icon-back_stb_20__0:before {
  content: '\e956';
}
.icon-browser_16__0:before {
  content: '\e957';
}
.icon-browser_20__0:before {
  content: '\e958';
}
.icon-browser_32__0:before {
  content: '\e959';
}
.icon-browser_32__1:before {
  content: '\e95a';
}
.icon-browser_56__0:before {
  content: '\e95b';
}
.icon-browser_56__1:before {
  content: '\e95c';
}
.icon-bugReport_16__0:before {
  content: '\e95d';
}
.icon-bugReport_20__0:before {
  content: '\e95e';
}
.icon-bugReport_32__0:before {
  content: '\e95f';
}
.icon-bugReport_32__1:before {
  content: '\e960';
}
.icon-bugReport_40__0:before {
  content: '\e961';
}
.icon-bugReport_40__1:before {
  content: '\e962';
}
.icon-bugReport_56__0:before {
  content: '\e963';
}
.icon-bugReport_56__1:before {
  content: '\e964';
}
.icon-bugReport_72__0:before {
  content: '\e965';
}
.icon-bugReport_72__1:before {
  content: '\e966';
}
.icon-burger_16__0:before {
  content: '\e967';
}
.icon-burger_20__0:before {
  content: '\e968';
}
.icon-call_16__0:before {
  content: '\e969';
}
.icon-camera_12__0:before {
  content: '\e96a';
}
.icon-card_16__0:before {
  content: '\e96b';
}
.icon-card_20__0:before {
  content: '\e96c';
}
.icon-card_32__0:before {
  content: '\e96d';
}
.icon-card_32__1:before {
  content: '\e96e';
}
.icon-cartoons_20__0:before {
  content: '\e96f';
}
.icon-cartoons_32__0:before {
  content: '\e970';
}
.icon-cartoons_32__1:before {
  content: '\e971';
}
.icon-catalog_16__0:before {
  content: '\e972';
}
.icon-catalog_20__0:before {
  content: '\e973';
}
.icon-catalog_32__0:before {
  content: '\e974';
}
.icon-catalog_32__1:before {
  content: '\e975';
}
.icon-catalogAdd_16__0:before {
  content: '\e976';
}
.icon-catalogAdd_20__0:before {
  content: '\e977';
}
.icon-catalogAdd_32__0:before {
  content: '\e978';
}
.icon-catalogAdd_32__1:before {
  content: '\e979';
}
.icon-catalogAdd_40__0:before {
  content: '\e97a';
}
.icon-catalogAdd_40__1:before {
  content: '\e97b';
}
.icon-catalogAdd_56__0:before {
  content: '\e97c';
}
.icon-catalogAdd_56__1:before {
  content: '\e97d';
}
.icon-certificate_16__0:before {
  content: '\e97e';
}
.icon-certificate_20__0:before {
  content: '\e97f';
}
.icon-certificate_32__0:before {
  content: '\e980';
}
.icon-certificate_32__1:before {
  content: '\e981';
}
.icon-certificate_56__0:before {
  content: '\e982';
}
.icon-certificate_56__1:before {
  content: '\e983';
}
.icon-change_16__0:before {
  content: '\e984';
}
.icon-change_20__0:before {
  content: '\e985';
}
.icon-chatSupport_16__0:before {
  content: '\e986';
}
.icon-chatSupport_20__0:before {
  content: '\e987';
}
.icon-check_16__0:before {
  content: '\e988';
}
.icon-chromecastOff_20__0:before {
  content: '\e989';
}
.icon-chromecastOn_20__0:before {
  content: '\e98a';
}
.icon-claim_32__0:before {
  content: '\e98b';
}
.icon-claim_32__1:before {
  content: '\e98c';
}
.icon-close_16__0:before {
  content: '\e98d';
}
.icon-close_20__0:before {
  content: '\e98e';
}
.icon-closeCircle_20__0:before {
  content: '\e98f';
}
.icon-closeCircle_20__1:before {
  content: '\e990';
}
.icon-closeCircle_28__0:before {
  content: '\e991';
}
.icon-closeCircle_28__1:before {
  content: '\e992';
}
.icon-collection_20__0:before {
  content: '\e993';
}
.icon-collection_32__0:before {
  content: '\e994';
}
.icon-collection_32__1:before {
  content: '\e995';
}
.icon-collection_40__0:before {
  content: '\e996';
}
.icon-collection_40__1:before {
  content: '\e997';
}
.icon-collection_64__0:before {
  content: '\e998';
}
.icon-collection_64__1:before {
  content: '\e999';
}
.icon-consoles_32__0:before {
  content: '\e99a';
}
.icon-consoles_32__1:before {
  content: '\e99b';
}
.icon-consoles_40__0:before {
  content: '\e99c';
}
.icon-consoles_40__1:before {
  content: '\e99d';
}
.icon-consoles_56__0:before {
  content: '\e99e';
}
.icon-consoles_56__1:before {
  content: '\e99f';
}
.icon-consoles_72__0:before {
  content: '\e9a0';
}
.icon-consoles_72__1:before {
  content: '\e9a1';
}
.icon-contextActions_4x16__0:before {
  content: '\e9a2';
}
.icon-contextActions_20__0:before {
  content: '\e9a3';
}
.icon-copy_16__0:before {
  content: '\e9a4';
}
.icon-copy_20__0:before {
  content: '\e9a5';
}
.icon-cup_16__0:before {
  content: '\e9a6';
}
.icon-cup_20__0:before {
  content: '\e9a7';
}
.icon-date_12__0:before {
  content: '\e9a8';
}
.icon-date_16__0:before {
  content: '\e9a9';
}
.icon-date_20__0:before {
  content: '\e9aa';
}
.icon-delete_16__0:before {
  content: '\e9ab';
}
.icon-delete_20__0:before {
  content: '\e9ac';
}
.icon-desktopdevices_32__0:before {
  content: '\e9ad';
}
.icon-desktopdevices_32__1:before {
  content: '\e9ae';
}
.icon-desktopdevices_40__0:before {
  content: '\e9af';
}
.icon-desktopdevices_40__1:before {
  content: '\e9b0';
}
.icon-desktopdevices_56__0:before {
  content: '\e9b1';
}
.icon-desktopdevices_56__1:before {
  content: '\e9b2';
}
.icon-desktopdevices_72__0:before {
  content: '\e9b3';
}
.icon-desktopdevices_72__1:before {
  content: '\e9b4';
}
.icon-developer_16__0:before {
  content: '\e9b5';
}
.icon-developer_20__0:before {
  content: '\e9b6';
}
.icon-developer_32__0:after {
  content: '\e9b7';
}
.icon-developer_32__1:before {
  content: '\e9b8';
}
.icon-disableContent_32__0:before {
  content: '\e9b9';
}
.icon-disableContent_32__1:before {
  content: '\e9ba';
}
.icon-disconnect_56__0:before {
  content: '\e9bb';
}
.icon-disconnect_56__1:before {
  content: '\e9bc';
}
.icon-disconnect_72__0:before {
  content: '\e9bd';
}
.icon-disconnect_72__1:before {
  content: '\e9be';
}
.icon-discount_16__0:before {
  content: '\e9bf';
}
.icon-discount_20__0:before {
  content: '\e9c0';
}
.icon-discount_32__0:before {
  content: '\e9c1';
}
.icon-discount_32__1:before {
  content: '\e9c2';
}
.icon-discount_56__0:before {
  content: '\e9c3';
}
.icon-discount_56__1:before {
  content: '\e9c4';
}
.icon-dislike_16__0:before {
  content: '\e9c5';
}
.icon-dislike_20__0:before {
  content: '\e9c6';
}
.icon-dislike_32__0:before {
  content: '\e9c7';
}
.icon-dislikeRemove_16__0:before {
  content: '\e9c8';
}
.icon-dislikeRemove_20__0:before {
  content: '\e9c9';
}
.icon-dolby_32__0:before {
  content: '\e9ca';
}
.icon-dolby_56__0:before {
  content: '\e9cb';
}
.icon-dolbyAtmos_32__0:before {
  content: '\e9cc';
}
.icon-dolbyAtmos_56__0:before {
  content: '\e9cd';
}
.icon-download_16__0:before {
  content: '\e9ce';
}
.icon-download_20__0:before {
  content: '\e9cf';
}
.icon-download_32__0:before {
  content: '\e9d0';
}
.icon-download_32__1:before {
  content: '\e9d1';
}
.icon-downloadSimple_72__0:before {
  content: '\e9d2';
}
.icon-edit_16__0:before {
  content: '\e9d3';
}
.icon-edit_20__0:before {
  content: '\e9d4';
}
.icon-editAvatar_16__0:before {
  content: '\e9d5';
}
.icon-editAvatar_20__0:before {
  content: '\e9d6';
}
.icon-email_16__0:before {
  content: '\e9d7';
}
.icon-email_20__0:before {
  content: '\e9d8';
}
.icon-email_32__0:before {
  content: '\e9d9';
}
.icon-email_32__1:before {
  content: '\e9da';
}
.icon-email_40__0:before {
  content: '\e9db';
}
.icon-email_40__1:before {
  content: '\e9dc';
}
.icon-email_56__0:before {
  content: '\e9dd';
}
.icon-email_56__1:before {
  content: '\e9de';
}
.icon-emotion_dislike_20__0:before {
  content: '\e9df';
}
.icon-emotion_dislike_32__0:before {
  content: '\e9e0';
}
.icon-emotion_dislike_32__1:before {
  content: '\e9e1';
}
.icon-emotion_dislike_40__0:before {
  content: '\e9e2';
}
.icon-emotion_dislike_40__1:before {
  content: '\e9e3';
}
.icon-emotion_dislike_56__0:before {
  content: '\e9e4';
}
.icon-emotion_dislike_56__1:before {
  content: '\e9e5';
}
.icon-emotion_dislike_72__0:before {
  content: '\e9e6';
}
.icon-emotion_dislike_72__1:before {
  content: '\e9e7';
}
.icon-emotion_like_20__0:before {
  content: '\e9e8';
}
.icon-emotion_like_32__0:before {
  content: '\e9e9';
}
.icon-emotion_like_32__1:before {
  content: '\e9ea';
}
.icon-emotion_like_40__1:before {
  content: '\e9eb';
}
.icon-emotion_like_56__1:before {
  content: '\e9ec';
}
.icon-emotion_like_72__1:before {
  content: '\e9ed';
}
.icon-emotion_love_20__0:before {
  content: '\e9ee';
}
.icon-emotion_love_32__0:before {
  content: '\e9ef';
}
.icon-emotion_love_32__1:before {
  content: '\e9f0';
}
.icon-emotion_love_40__0:before {
  content: '\e9f1';
}
.icon-emotion_love_40__1:before {
  content: '\e9f2';
}
.icon-emotion_love_56__0:before {
  content: '\e9f3';
}
.icon-emotion_love_56__1:before {
  content: '\e9f4';
}
.icon-emotion_love_72__0:before {
  content: '\e9f5';
}
.icon-emotion_love_72__1:before {
  content: '\e9f6';
}
.icon-emotion_negative_20__0:before {
  content: '\e9f7';
}
.icon-emotion_negative_32__0:before {
  content: '\e9f8';
}
.icon-emotion_negative_40__0:before {
  content: '\e9f9';
}
.icon-emotion_negative_40__1:before {
  content: '\e9fa';
}
.icon-emotion_negative_56__0:before {
  content: '\e9fb';
}
.icon-emotion_negative_56__1:before {
  content: '\e9fc';
}
.icon-emotion_negative_72__0:before {
  content: '\e9fd';
}
.icon-emotion_negative_72__1:before {
  content: '\e9fe';
}
.icon-emotion_neutral_20__0:before {
  content: '\e9ff';
}
.icon-emotion_neutral_32__1:before {
  content: '\ea00';
}
.icon-emotion_neutral_40__1:before {
  content: '\ea01';
}
.icon-emotion_neutral_56__1:before {
  content: '\ea02';
}
.icon-emotion_neutral_72__1:before {
  content: '\ea03';
}
.icon-epg_20__0:before {
  content: '\ea04';
}
.icon-error_12__0:before {
  content: '\ea05';
}
.icon-error_32__0:before {
  content: '\ea06';
}
.icon-error_40__0:before {
  content: '\ea07';
}
.icon-error_56__0:before {
  content: '\ea08';
}
.icon-error_72__0:before {
  content: '\ea09';
}
.icon-errorSolid_32__0:before {
  content: '\ea0a';
}
.icon-errorSolid_32__1:before {
  content: '\ea0b';
}
.icon-errorSolid_40__0:before {
  content: '\ea0c';
}
.icon-errorSolid_40__1:before {
  content: '\ea0d';
}
.icon-errorSolid_56__0:before {
  content: '\ea0e';
}
.icon-errorSolid_56__1:before {
  content: '\ea0f';
}
.icon-errorSolid_72__0:before {
  content: '\ea10';
}
.icon-errorSolid_72__1:before {
  content: '\ea11';
}
.icon-exclusive_16__0:before {
  content: '\ea12';
}
.icon-exclusive_20__0:before {
  content: '\ea13';
}
.icon-exclusive_32__0:before {
  content: '\ea14';
}
.icon-exclusive_32__1:before {
  content: '\ea15';
}
.icon-exclusive_40__0:before {
  content: '\ea16';
}
.icon-exclusive_40__1:before {
  content: '\ea17';
}
.icon-exclusive_56__0:before {
  content: '\ea18';
}
.icon-exclusive_56__1:before {
  content: '\ea19';
}
.icon-exclusive_72__0:before {
  content: '\ea1a';
}
.icon-exclusive_72__1:before {
  content: '\ea1b';
}
.icon-exit_16__0:before {
  content: '\ea1c';
}
.icon-exit_20__0:before {
  content: '\ea1d';
}
.icon-exit_32__0:before {
  content: '\ea1e';
}
.icon-exit_32__1:before {
  content: '\ea1f';
}
.icon-exit_72__0:before {
  content: '\ea20';
}
.icon-exit_72__1:before {
  content: '\ea21';
}
.icon-externalLink_12__0:before {
  content: '\ea22';
}
.icon-externalLink_16__0:before {
  content: '\ea23';
}
.icon-favorite_32__0:before {
  content: '\ea24';
}
.icon-favorite_32__1:before {
  content: '\ea25';
}
.icon-favoriteAdd_16__0:before {
  content: '\ea26';
}
.icon-favoriteAdd_20__0:before {
  content: '\ea27';
}
.icon-favoriteRemove_16__0:before {
  content: '\ea28';
}
.icon-favoriteRemove_20__0:before {
  content: '\ea29';
}
.icon-films_16__0:before {
  content: '\ea2a';
}
.icon-films_20__0:before {
  content: '\ea2b';
}
.icon-films_32__0:before {
  content: '\ea2c';
}
.icon-films_32__1:before {
  content: '\ea2d';
}
.icon-filter_16__0:before {
  content: '\ea2e';
}
.icon-filter_20__0:before {
  content: '\ea2f';
}
.icon-filter_32__0:before {
  content: '\ea30';
}
.icon-fragment_16__0:before {
  content: '\ea31';
}
.icon-fragment_20__0:before {
  content: '\ea32';
}
.icon-fullscreenCollapse_16__0:before {
  content: '\ea33';
}
.icon-fullscreenCollapse_20__0:before {
  content: '\ea34';
}
.icon-fullscreenExpand_16__0:before {
  content: '\ea35';
}
.icon-fullscreenExpand_20__0:before {
  content: '\ea36';
}
.icon-genre_боевик_24__0:before {
  content: '\ea37';
}
.icon-genre_action_32__0:before {
  content: '\ea38';
}
.icon-genre_action_32__1:before {
  content: '\ea39';
}
.icon-genre_action_64__0:before {
  content: '\ea3a';
}
.icon-genre_action_64__1:before {
  content: '\ea3b';
}
.icon-genre_игра_24__0:before {
  content: '\ea3c';
}
.icon-genre_play_24__0:after {
  content: '\ea3d';
}
.icon-genre_adult_64__0:before {
  content: '\ea3e';
}
.icon-genre_adult_64__1:before {
  content: '\ea3f';
}
.icon-genre_приключения_24__0:before {
  content: '\ea40';
}
.icon-genre_adventure_32__0:before {
  content: '\ea41';
}
.icon-genre_adventure_32__1:before {
  content: '\ea42';
}
.icon-genre_adventure_64__0:before {
  content: '\ea43';
}
.icon-genre_adventure_64__1:before {
  content: '\ea44';
}
.icon-genre_american_32__0:before {
  content: '\ea45';
}
.icon-genre_american_32__1:before {
  content: '\ea46';
}
.icon-genre_american_64__0:before {
  content: '\ea47';
}
.icon-genre_american_64__1:before {
  content: '\ea48';
}
.icon-genre_аниме_24__0:before {
  content: '\ea49';
}
.icon-genre_anime_24__0:after {
  content: '\ea4a';
}
.icon-genre_anime_64__0:before {
  content: '\ea4b';
}
.icon-genre_anime_64__1:before {
  content: '\ea4c';
}
.icon-genre_arthouse_32__0:before {
  content: '\ea4d';
}
.icon-genre_arthouse_32__1:before {
  content: '\ea4e';
}
.icon-genre_arthouse_64__0:before {
  content: '\ea4f';
}
.icon-genre_arthouse_64__1:before {
  content: '\ea50';
}
.icon-genre_биография_24__0:after {
  content: '\ea51';
}
.icon-genre_биография_24__0:before {
  content: '\ea52';
}
.icon-genre_biography_64__0:before {
  content: '\ea53';
}
.icon-genre_biography_64__1:before {
  content: '\ea54';
}
.icon-genre_classic_32__0:before {
  content: '\ea55';
}
.icon-genre_classic_32__1:before {
  content: '\ea56';
}
.icon-genre_classic_64__0:before {
  content: '\ea57';
}
.icon-genre_classic_64__1:before {
  content: '\ea58';
}
.icon-genre_комедия_24__0:before {
  content: '\ea59';
}
.icon-genre_comedy_32__0:before {
  content: '\ea5a';
}
.icon-genre_comedy_32__1:before {
  content: '\ea5b';
}
.icon-genre_comedy_64__0:before {
  content: '\ea5c';
}
.icon-genre_comedy_64__1:before {
  content: '\ea5d';
}
.icon-genre_мультфильм_24__0:before {
  content: '\ea5e';
}
.icon-genre_мультфильм_24__0:after {
  content: '\ea5f';
}
.icon-genre_comics_64__0:before {
  content: '\ea60';
}
.icon-genre_comics_64__1:before {
  content: '\ea61';
}
.icon-genre_криминал_24__0:before {
  content: '\ea62';
}
.icon-genre_криминал_24__0:after {
  content: '\ea63';
}
.icon-genre_criminal_64__0:before {
  content: '\ea64';
}
.icon-genre_criminal_64__1:before {
  content: '\ea65';
}
.icon-genre_детектив_24__0:before {
  content: '\ea66';
}
.icon-genre_детектив_24__0:after {
  content: '\ea67';
}
.icon-genre_detective_64__0:before {
  content: '\ea68';
}
.icon-genre_detective_64__1:before {
  content: '\ea69';
}
.icon-genre_disaster_32__0:before {
  content: '\ea6a';
}
.icon-genre_disaster_32__1:before {
  content: '\ea6b';
}
.icon-genre_disaster_64__0:before {
  content: '\ea6c';
}
.icon-genre_disaster_64__1:before {
  content: '\ea6d';
}
.icon-genre_документальный_24__0:before {
  content: '\ea6e';
}
.icon-genre_документальный_24__0:after {
  content: '\ea6f';
}
.icon-genre_documentary_64__0:before {
  content: '\ea70';
}
.icon-genre_documentary_64__1:before {
  content: '\ea71';
}
.icon-genre_dorama_32__0:before {
  content: '\ea72';
}
.icon-genre_dorama_32__1:before {
  content: '\ea73';
}
.icon-genre_dorama_64__0:before {
  content: '\ea74';
}
.icon-genre_dorama_64__1:before {
  content: '\ea75';
}
.icon-genre_драма_24__0:before {
  content: '\ea76';
}
.icon-genre_drama_32__1:before {
  content: '\ea77';
}
.icon-genre_drama_64__1:before {
  content: '\ea78';
}
.icon-genre_erotica_32__0:before {
  content: '\ea79';
}
.icon-genre_erotica_32__1:before {
  content: '\ea7a';
}
.icon-genre_erotica_64__0:before {
  content: '\ea7b';
}
.icon-genre_erotica_64__1:before {
  content: '\ea7c';
}
.icon-genre_семейный_24__0:before {
  content: '\ea7d';
}
.icon-genre_family_32__0:before {
  content: '\ea7e';
}
.icon-genre_family_32__1:before {
  content: '\ea7f';
}
.icon-genre_family_64__0:before {
  content: '\ea80';
}
.icon-genre_family_64__1:before {
  content: '\ea81';
}
.icon-genre_фантастика_24__0:before {
  content: '\ea82';
}
.icon-genre_fantastic_32__0:before {
  content: '\ea83';
}
.icon-genre_fantastic_32__1:before {
  content: '\ea84';
}
.icon-genre_fantastic_64__0:before {
  content: '\ea85';
}
.icon-genre_fantastic_64__1:before {
  content: '\ea86';
}
.icon-genre_фэнтези_24__0:before {
  content: '\ea87';
}
.icon-genre_fantasy_32__0:before {
  content: '\ea88';
}
.icon-genre_fantasy_32__1:before {
  content: '\ea89';
}
.icon-genre_fantasy_64__0:before {
  content: '\ea8a';
}
.icon-genre_fantasy_64__1:before {
  content: '\ea8b';
}
.icon-genre_feature_length_32__0:before {
  content: '\ea8c';
}
.icon-genre_feature_length_32__1:before {
  content: '\ea8d';
}
.icon-genre_feature_length_64__0:before {
  content: '\ea8e';
}
.icon-genre_feature_length_64__1:before {
  content: '\ea8f';
}
.icon-genre_новости_24__0:before {
  content: '\ea90';
}
.icon-genre_news_32__0:before {
  content: '\ea91';
}
.icon-genre_news_32__1:before {
  content: '\ea92';
}
.icon-genre_foreign_64__0:before {
  content: '\ea93';
}
.icon-genre_foreign_64__1:before {
  content: '\ea94';
}
.icon-genre_история_24__0:before {
  content: '\ea95';
}
.icon-genre_история_24__0:after {
  content: '\ea96';
}
.icon-genre_historical_64__0:before {
  content: '\ea97';
}
.icon-genre_historical_64__1:before {
  content: '\ea98';
}
.icon-genre_ужасы_24__0:before {
  content: '\ea99';
}
.icon-genre_ужасы_24__0:after {
  content: '\ea9a';
}
.icon-genre_horror_64__0:before {
  content: '\ea9b';
}
.icon-genre_horror_64__1:before {
  content: '\ea9c';
}
.icon-genre_ток-шоу_24__0:before {
  content: '\ea9d';
}
.icon-genre_ток-шоу_24__0:after {
  content: '\ea9e';
}
.icon-genre_interview_64__0:before {
  content: '\ea9f';
}
.icon-genre_interview_64__1:before {
  content: '\eaa0';
}
.icon-genre_детский_24__0:before {
  content: '\eaa1';
}
.icon-genre_детский_24__0:after {
  content: '\eaa2';
}
.icon-genre_kids_64__0:before {
  content: '\eaa3';
}
.icon-genre_kids_64__1:before {
  content: '\eaa4';
}
.icon-genre_learning_32__0:before {
  content: '\eaa5';
}
.icon-genre_learning_32__1:before {
  content: '\eaa6';
}
.icon-genre_learning_64__0:before {
  content: '\eaa7';
}
.icon-genre_learning_64__1:before {
  content: '\eaa8';
}
.icon-genre_medicine_32__0:before {
  content: '\eaa9';
}
.icon-genre_medicine_32__1:before {
  content: '\eaaa';
}
.icon-genre_medicine_64__0:before {
  content: '\eaab';
}
.icon-genre_medicine_64__1:before {
  content: '\eaac';
}
.icon-genre_мелодрама_24__0:before {
  content: '\eaad';
}
.icon-genre_melodrama_32__0:before {
  content: '\eaae';
}
.icon-genre_melodrama_32__1:before {
  content: '\eaaf';
}
.icon-genre_melodrama_64__0:before {
  content: '\eab0';
}
.icon-genre_melodrama_64__1:before {
  content: '\eab1';
}
.icon-genre_военный_24__0:before {
  content: '\eab2';
}
.icon-genre_military_32__1:before {
  content: '\eab3';
}
.icon-genre_military_64__0:before {
  content: '\eab4';
}
.icon-genre_military_64__1:before {
  content: '\eab5';
}
.icon-genre_реальноеТВ_24__0:before {
  content: '\eab6';
}
.icon-genre_реальноеТВ_24__0:after {
  content: '\eab7';
}
.icon-genre_multiseries_64__0:before {
  content: '\eab8';
}
.icon-genre_multiseries_64__1:before {
  content: '\eab9';
}
.icon-genre_музыка_24__0:before {
  content: '\eaba';
}
.icon-genre_музыка_24__0:after {
  content: '\eabb';
}
.icon-genre_music_64__0:before {
  content: '\eabc';
}
.icon-genre_music_64__1:before {
  content: '\eabd';
}
.icon-genre_мюзикл_24__0:before {
  content: '\eabe';
}
.icon-genre_мюзикл_24__0:after {
  content: '\eabf';
}
.icon-genre_musical_64__0:before {
  content: '\eac0';
}
.icon-genre_musical_64__1:before {
  content: '\eac1';
}
.icon-genre_mute_32__0:before {
  content: '\eac2';
}
.icon-genre_mute_32__1:before {
  content: '\eac3';
}
.icon-genre_mute_64__0:before {
  content: '\eac4';
}
.icon-genre_mute_64__1:before {
  content: '\eac5';
}
.icon-genre_mystic_32__0:before {
  content: '\eac6';
}
.icon-genre_mystic_32__1:before {
  content: '\eac7';
}
.icon-genre_mystic_64__0:before {
  content: '\eac8';
}
.icon-genre_mystic_64__1:before {
  content: '\eac9';
}
.icon-genre_фильм-нуар_24__0:before {
  content: '\eaca';
}
.icon-genre_фильм-нуар_24__0:after {
  content: '\eacb';
}
.icon-genre_noir_64__0:before {
  content: '\eacc';
}
.icon-genre_noir_64__1:before {
  content: '\eacd';
}
.icon-genre_russian_32__0:before {
  content: '\eace';
}
.icon-genre_russian_32__1:before {
  content: '\eacf';
}
.icon-genre_russian_64__0:before {
  content: '\ead0';
}
.icon-genre_russian_64__1:before {
  content: '\ead1';
}
.icon-genre_screening_32__0:before {
  content: '\ead2';
}
.icon-genre_screening_32__1:before {
  content: '\ead3';
}
.icon-genre_screening_64__0:before {
  content: '\ead4';
}
.icon-genre_screening_64__1:before {
  content: '\ead5';
}
.icon-genre_короткометражка_24__0:before {
  content: '\ead6';
}
.icon-genre_короткометражка_24__0:after {
  content: '\ead7';
}
.icon-genre_short_length_64__0:before {
  content: '\ead8';
}
.icon-genre_short_length_64__1:before {
  content: '\ead9';
}
.icon-genre_soviet_32__0:before {
  content: '\eada';
}
.icon-genre_soviet_32__1:before {
  content: '\eadb';
}
.icon-genre_soviet_64__0:before {
  content: '\eadc';
}
.icon-genre_soviet_64__1:before {
  content: '\eadd';
}
.icon-genre_spectacle_32__0:before {
  content: '\eade';
}
.icon-genre_spectacle_32__1:before {
  content: '\eadf';
}
.icon-genre_spectacle_64__0:before {
  content: '\eae0';
}
.icon-genre_spectacle_64__1:before {
  content: '\eae1';
}
.icon-genre_спорт_24__0:before {
  content: '\eae2';
}
.icon-genre_спорт_24__0:after {
  content: '\eae3';
}
.icon-genre_sport_64__0:before {
  content: '\eae4';
}
.icon-genre_sport_64__1:before {
  content: '\eae5';
}
.icon-genre_триллер_24__0:before {
  content: '\eae6';
}
.icon-genre_triller_32__0:before {
  content: '\eae7';
}
.icon-genre_triller_32__1:before {
  content: '\eae8';
}
.icon-genre_triller_64__0:before {
  content: '\eae9';
}
.icon-genre_triller_64__1:before {
  content: '\eaea';
}
.icon-genre_tv_show_32__0:before {
  content: '\eaeb';
}
.icon-genre_tv_show_32__1:before {
  content: '\eaec';
}
.icon-genre_tv_show_64__0:before {
  content: '\eaed';
}
.icon-genre_tv_show_64__1:before {
  content: '\eaee';
}
.icon-genre_вестерн_24__0:before {
  content: '\eaef';
}
.icon-genre_вестерн_24__0:after {
  content: '\eaf0';
}
.icon-genre_western_64__0:before {
  content: '\eaf1';
}
.icon-genre_western_64__1:before {
  content: '\eaf2';
}
.icon-genres_16__0:before {
  content: '\eaf3';
}
.icon-genres_20__0:before {
  content: '\eaf4';
}
.icon-genres_32__0:before {
  content: '\eaf5';
}
.icon-genres_32__1:before {
  content: '\eaf6';
}
.icon-genres_40__0:before {
  content: '\eaf7';
}
.icon-genres_40__1:before {
  content: '\eaf8';
}
.icon-genres_56__0:before {
  content: '\eaf9';
}
.icon-genres_56__1:before {
  content: '\eafa';
}
.icon-gift_16__0:before {
  content: '\eafb';
}
.icon-gift_20__0:before {
  content: '\eafc';
}
.icon-gift_32__0:before {
  content: '\eafd';
}
.icon-gift_32__1:before {
  content: '\eafe';
}
.icon-gift_56__0:before {
  content: '\eaff';
}
.icon-gift_56__1:before {
  content: '\eb00';
}
.icon-guideSignDownLeft_56__0:before {
  content: '\eb01';
}
.icon-guideSignDownLeftAlt_56__0:before {
  content: '\eb02';
}
.icon-guideSignDownRight_56__0:before {
  content: '\eb03';
}
.icon-guideSignUpLeft_56__0:before {
  content: '\eb04';
}
.icon-guideSignUpRight_56__0:before {
  content: '\eb05';
}
.icon-hd_32__0:before {
  content: '\eb06';
}
.icon-hd_56__0:before {
  content: '\eb07';
}
.icon-hdr_32__0:before {
  content: '\eb08';
}
.icon-hdr_56__0:before {
  content: '\eb09';
}
.icon-hdr10_32__0:before {
  content: '\eb0a';
}
.icon-hdr10_56__0:before {
  content: '\eb0b';
}
.icon-hdr10plus_32__0:before {
  content: '\eb0c';
}
.icon-hdr10plus_56__0:before {
  content: '\eb0d';
}
.icon-heart_20__0:before {
  content: '\eb0e';
}
.icon-heart_32__0:before {
  content: '\eb0f';
}
.icon-heartSolid_20__0:before {
  content: '\eb10';
}
.icon-heartSolid_32__0:before {
  content: '\eb11';
}
.icon-help_16__0:before {
  content: '\eb12';
}
.icon-hide_16__0:before {
  content: '\eb13';
}
.icon-hide_20__0:before {
  content: '\eb14';
}
.icon-history_20__0:before {
  content: '\eb15';
}
.icon-history_32__0:before {
  content: '\eb16';
}
.icon-history_32__1:before {
  content: '\eb17';
}
.icon-historyFill_12__0:before {
  content: '\eb18';
}
.icon-home_16__0:before {
  content: '\eb19';
}
.icon-home_20__0:before {
  content: '\eb1a';
}
.icon-home_32__0:before {
  content: '\eb1b';
}
.icon-home_32__1:before {
  content: '\eb1c';
}
.icon-home_40__0:before {
  content: '\eb1d';
}
.icon-home_40__1:before {
  content: '\eb1e';
}
.icon-home_56__0:before {
  content: '\eb1f';
}
.icon-home_56__1:before {
  content: '\eb20';
}
.icon-idea_16__0:before {
  content: '\eb21';
}
.icon-invoice_16__0:before {
  content: '\eb22';
}
.icon-invoice_20__0:before {
  content: '\eb23';
}
.icon-invoice_32__0:before {
  content: '\eb24';
}
.icon-invoice_32__1:before {
  content: '\eb25';
}
.icon-iviBonusLogo_16__0:before {
  content: '\eb26';
}
.icon-iviBonusLogo_20__0:before {
  content: '\eb27';
}
.icon-iviBonusLogo_32__0:before {
  content: '\eb28';
}
.icon-iviWorld_20__0:before {
  content: '\eb29';
}
.icon-key_backspace__0:before {
  content: '\eb2a';
}
.icon-key_shift__0:before {
  content: '\eb2b';
}
.icon-key_shiftSolid__0:before {
  content: '\eb2c';
}
.icon-key_space__0:before {
  content: '\eb2d';
}
.icon-kidsAvatar_12__0:before {
  content: '\eb2e';
}
.icon-kidsAvatar_16__0:before {
  content: '\eb2f';
}
.icon-kidsAvatar_20__0:before {
  content: '\eb30';
}
.icon-kidsAvatar_32__0:before {
  content: '\eb31';
}
.icon-kidsAvatar_40__0:before {
  content: '\eb32';
}
.icon-kidsAvatar_56__0:before {
  content: '\eb33';
}
.icon-kidsAvatar_72__0:before {
  content: '\eb34';
}
.icon-langoriginal_16__0:before {
  content: '\eb35';
}
.icon-langoriginal_20__0:before {
  content: '\eb36';
}
.icon-langoriginal_32__0:before {
  content: '\eb37';
}
.icon-langoriginal_32__1:before {
  content: '\eb38';
}
.icon-langoriginal_40__0:before {
  content: '\eb39';
}
.icon-langoriginal_40__1:before {
  content: '\eb3a';
}
.icon-langoriginal_56__0:before {
  content: '\eb3b';
}
.icon-langoriginal_56__1:before {
  content: '\eb3c';
}
.icon-laptop_16__0:before {
  content: '\eb3d';
}
.icon-laptop_20__0:before {
  content: '\eb3e';
}
.icon-laptop_32__0:before {
  content: '\eb3f';
}
.icon-laptop_32__1:before {
  content: '\eb40';
}
.icon-laptop_56__0:before {
  content: '\eb41';
}
.icon-laptop_56__1:before {
  content: '\eb42';
}
.icon-lightning_12__0:before {
  content: '\eb43';
}
.icon-lightning_16__0:before {
  content: '\eb44';
}
.icon-lightning_20__0:before {
  content: '\eb45';
}
.icon-list_12__0:before {
  content: '\eb46';
}
.icon-lock_16__0:before {
  content: '\eb47';
}
.icon-lock_20__0:before {
  content: '\eb48';
}
.icon-lock_32__0:before {
  content: '\eb49';
}
.icon-lock_32__1:before {
  content: '\eb4a';
}
.icon-lock_56__0:before {
  content: '\eb4b';
}
.icon-lock_56__1:before {
  content: '\eb4c';
}
.icon-marathon_16__0:before {
  content: '\eb4d';
}
.icon-marathon_20__0:before {
  content: '\eb4e';
}
.icon-marathon_off_16__0:before {
  content: '\eb4f';
}
.icon-marathon_off_20__0:before {
  content: '\eb50';
}
.icon-message_16__0:before {
  content: '\eb51';
}
.icon-message_20__0:before {
  content: '\eb52';
}
.icon-mobile_16__0:before {
  content: '\eb53';
}
.icon-mobile_32__0:before {
  content: '\eb54';
}
.icon-mobile_32__1:before {
  content: '\eb55';
}
.icon-mobile_40__0:before {
  content: '\eb56';
}
.icon-mobile_40__1:before {
  content: '\eb57';
}
.icon-mobile_56__0:before {
  content: '\eb58';
}
.icon-mobile_56__1:before {
  content: '\eb59';
}
.icon-mobile_72__0:before {
  content: '\eb5a';
}
.icon-mobile_72__1:before {
  content: '\eb5b';
}
.icon-moneyQuestions_32__0:before {
  content: '\eb5c';
}
.icon-moneyQuestions_32__1:before {
  content: '\eb5d';
}
.icon-more_20__0:before {
  content: '\eb5e';
}
.icon-multiseries_16__0:before {
  content: '\eb5f';
}
.icon-multiseries_20__0:before {
  content: '\eb60';
}
.icon-no_20__0:before {
  content: '\eb61';
}
.icon-noAds_16__0:before {
  content: '\eb62';
}
.icon-noAds_20__0:before {
  content: '\eb63';
}
.icon-noAds_32__0:before {
  content: '\eb64';
}
.icon-noAds_32__1:before {
  content: '\eb65';
}
.icon-noAds_40__0:before {
  content: '\eb66';
}
.icon-noAds_40__1:before {
  content: '\eb67';
}
.icon-noAds_56__0:before {
  content: '\eb68';
}
.icon-noAds_56__1:before {
  content: '\eb69';
}
.icon-noAudio_16__0:before {
  content: '\eb6a';
}
.icon-noSubtitles_16__0:before {
  content: '\eb6b';
}
.icon-onAir_16__0:before {
  content: '\eb6c';
}
.icon-onAir_20__0:before {
  content: '\eb6d';
}
.icon-pause_20__0:before {
  content: '\eb6e';
}
.icon-payment_16__0:before {
  content: '\eb6f';
}
.icon-payment_20__0:before {
  content: '\eb70';
}
.icon-payment_32__0:before {
  content: '\eb71';
}
.icon-payment_32__1:before {
  content: '\eb72';
}
.icon-paywall_12__0:before {
  content: '\eb73';
}
.icon-paywall_12__1:before {
  content: '\eb74';
}
.icon-person_16__0:before {
  content: '\eb75';
}
.icon-person_20__0:before {
  content: '\eb76';
}
.icon-person_32__0:before {
  content: '\eb77';
}
.icon-person_32__1:before {
  content: '\eb78';
}
.icon-person_40__0:before {
  content: '\eb79';
}
.icon-person_40__1:before {
  content: '\eb7a';
}
.icon-person_56__0:before {
  content: '\eb7b';
}
.icon-person_56__0:after {
  content: '\eb7c';
}
.icon-person_64__0:before {
  content: '\eb7d';
}
.icon-person_64__1:before {
  content: '\eb7e';
}
.icon-person_72__0:before {
  content: '\eb7f';
}
.icon-person_72__1:before {
  content: '\eb80';
}
.icon-play_12__0:before {
  content: '\eb81';
}
.icon-play_16__0:before {
  content: '\eb82';
}
.icon-play_20__0:before {
  content: '\eb83';
}
.icon-player_airplay_16__0:before {
  content: '\eb84';
}
.icon-player_airplay_20__0:before {
  content: '\eb85';
}
.icon-player_airplayOn_16__0:before {
  content: '\eb86';
}
.icon-player_airplayOn_16__1:before {
  content: '\eb87';
}
.icon-player_airplayOn_20__0:before {
  content: '\eb88';
}
.icon-player_airplayOn_20__1:before {
  content: '\eb89';
}
.icon-player_audio_16__0:before {
  content: '\eb8a';
}
.icon-player_audio_16__1:before {
  content: '\eb8b';
}
.icon-player_audio_20__0:before {
  content: '\eb8c';
}
.icon-player_audio_20__1:before {
  content: '\eb8d';
}
.icon-player_backward_16__0:before {
  content: '\eb8e';
}
.icon-player_backward_20__0:before {
  content: '\eb8f';
}
.icon-player_backward_32__0:before {
  content: '\eb90';
}
.icon-player_backward_40__0:before {
  content: '\eb91';
}
.icon-player_backward_56__0:before {
  content: '\eb92';
}
.icon-player_backward_72__0:before {
  content: '\eb93';
}
.icon-player_forward_16__0:before {
  content: '\eb94';
}
.icon-player_forward_20__0:before {
  content: '\eb95';
}
.icon-player_forward_32__0:before {
  content: '\eb96';
}
.icon-player_forward_40__0:before {
  content: '\eb97';
}
.icon-player_forward_56__0:before {
  content: '\eb98';
}
.icon-player_forward_72__0:before {
  content: '\eb99';
}
.icon-player_fullscreen_16__0:before {
  content: '\eb9a';
}
.icon-player_fullscreen_20__0:before {
  content: '\eb9b';
}
.icon-player_fullscreenExit_16__0:before {
  content: '\eb9c';
}
.icon-player_fullscreenExit_20__0:before {
  content: '\eb9d';
}
.icon-player_googlecast_16__0:before {
  content: '\eb9e';
}
.icon-player_googlecast_20__0:before {
  content: '\eb9f';
}
.icon-player_googlecastOn_16__0:before {
  content: '\eba0';
}
.icon-player_googlecastOn_16__1:before {
  content: '\eba1';
}
.icon-player_googlecastOn_20__0:before {
  content: '\eba2';
}
.icon-player_googlecastOn_20__1:before {
  content: '\eba3';
}
.icon-player_horizontalOrientationOff_20__0:before {
  content: '\eba4';
}
.icon-player_horizontalOrientationOn_20__0:before {
  content: '\eba5';
}
.icon-player_locked_16__0:before {
  content: '\eba6';
}
.icon-player_locked_20__0:before {
  content: '\eba7';
}
.icon-player_moreLeft_16__0:before {
  content: '\eba8';
}
.icon-player_moreLeft_20__0:before {
  content: '\eba9';
}
.icon-player_moreUp_16__0:before {
  content: '\ebaa';
}
.icon-player_moreUp_20__0:before {
  content: '\ebab';
}
.icon-player_next_16__0:before {
  content: '\ebac';
}
.icon-player_next_20__0:before {
  content: '\ebad';
}
.icon-player_next_32__0:before {
  content: '\ebae';
}
.icon-player_next_40__0:before {
  content: '\ebaf';
}
.icon-player_next_56__0:before {
  content: '\ebb0';
}
.icon-player_next_72__0:before {
  content: '\ebb1';
}
.icon-player_pause_16__0:before {
  content: '\ebb2';
}
.icon-player_pause_20__0:before {
  content: '\ebb3';
}
.icon-player_pause_32__0:before {
  content: '\ebb4';
}
.icon-player_pause_40__0:before {
  content: '\ebb5';
}
.icon-player_pause_56__0:before {
  content: '\ebb6';
}
.icon-player_pause_72__0:before {
  content: '\ebb7';
}
.icon-player_pictureInPicture_16__0:before {
  content: '\ebb8';
}
.icon-player_pictureInPicture_20__0:before {
  content: '\ebb9';
}
.icon-player_play_16__0:before {
  content: '\ebba';
}
.icon-player_play_20__0:before {
  content: '\ebbb';
}
.icon-player_play_32__0:before {
  content: '\ebbc';
}
.icon-player_play_40__0:before {
  content: '\ebbd';
}
.icon-player_play_56__0:before {
  content: '\ebbe';
}
.icon-player_play_72__0:before {
  content: '\ebbf';
}
.icon-player_previous_16__0:before {
  content: '\ebc0';
}
.icon-player_previous_20__0:before {
  content: '\ebc1';
}
.icon-player_previous_32__0:before {
  content: '\ebc2';
}
.icon-player_previous_40__0:before {
  content: '\ebc3';
}
.icon-player_previous_56__0:before {
  content: '\ebc4';
}
.icon-player_previous_72__0:before {
  content: '\ebc5';
}
.icon-player_problem_16__0:before {
  content: '\ebc6';
}
.icon-player_problem_20__0:before {
  content: '\ebc7';
}
.icon-player_quality_16__0:before {
  content: '\ebc8';
}
.icon-player_quality_16__1:before {
  content: '\ebc9';
}
.icon-player_quality_20__0:before {
  content: '\ebca';
}
.icon-player_quality_20__1:before {
  content: '\ebcb';
}
.icon-player_series_16__0:before {
  content: '\ebcc';
}
.icon-player_series_20__0:before {
  content: '\ebcd';
}
.icon-player_settings_16__0:before {
  content: '\ebce';
}
.icon-player_settings_20__0:before {
  content: '\ebcf';
}
.icon-player_speed_16__0:before {
  content: '\ebd0';
}
.icon-player_speed_20__0:before {
  content: '\ebd1';
}
.icon-player_subtitles_16__0:before {
  content: '\ebd2';
}
.icon-player_subtitles_20__0:before {
  content: '\ebd3';
}
.icon-player_subtitlesRegular_16__0:before {
  content: '\ebd4';
}
.icon-player_unlocked_16__0:before {
  content: '\ebd5';
}
.icon-player_unlocked_20__0:before {
  content: '\ebd6';
}
.icon-player_volumeMax_16__0:before {
  content: '\ebd7';
}
.icon-player_volumeMax_20__0:before {
  content: '\ebd8';
}
.icon-player_volumeMid_16__0:before {
  content: '\ebd9';
}
.icon-player_volumeMid_20__0:before {
  content: '\ebda';
}
.icon-player_volumeMidRegular_16__0:before {
  content: '\ebdb';
}
.icon-player_volumeMin_16__0:before {
  content: '\ebdc';
}
.icon-player_volumeMin_20__0:before {
  content: '\ebdd';
}
.icon-player_volumeOff_16__0:before {
  content: '\ebde';
}
.icon-player_volumeOff_20__0:before {
  content: '\ebdf';
}
.icon-player_wideScreenOff_20__0:before {
  content: '\ebe0';
}
.icon-player_wideScreenOn_20__0:before {
  content: '\ebe1';
}
.icon-player_zoomInH_16__0:before {
  content: '\ebe2';
}
.icon-player_zoomInH_20__0:before {
  content: '\ebe3';
}
.icon-player_zoomInV_16__0:before {
  content: '\ebe4';
}
.icon-player_zoomInV_20__0:before {
  content: '\ebe5';
}
.icon-player_zoomOutH_16__0:before {
  content: '\ebe6';
}
.icon-player_zoomOutH_20__0:before {
  content: '\ebe7';
}
.icon-player_zoomOutV_16__0:before {
  content: '\ebe8';
}
.icon-player_zoomOutV_20__0:before {
  content: '\ebe9';
}
.icon-playOutline_20__0:before {
  content: '\ebea';
}
.icon-pull_16__0:before {
  content: '\ebeb';
}
.icon-pull_20__0:before {
  content: '\ebec';
}
.icon-pull_32__0:before {
  content: '\ebed';
}
.icon-pull_32__1:before {
  content: '\ebee';
}
.icon-pull_40__0:before {
  content: '\ebef';
}
.icon-pull_40__1:before {
  content: '\ebf0';
}
.icon-pull_56__0:before {
  content: '\ebf1';
}
.icon-pull_56__1:before {
  content: '\ebf2';
}
.icon-pull_72__0:before {
  content: '\ebf3';
}
.icon-pull_72__1:before {
  content: '\ebf4';
}
.icon-pullSolid_16__0:before {
  content: '\ebf5';
}
.icon-pullSolid_20__0:before {
  content: '\ebf6';
}
.icon-qrCode_16__0:before {
  content: '\ebf7';
}
.icon-qrCode_20__0:before {
  content: '\ebf8';
}
.icon-qrCode_56__0:before {
  content: '\ebf9';
}
.icon-quality_16__0:before {
  content: '\ebfa';
}
.icon-quality_20__0:before {
  content: '\ebfb';
}
.icon-quality_32__0:before {
  content: '\ebfc';
}
.icon-quality_32__1:before {
  content: '\ebfd';
}
.icon-quality_56__0:before {
  content: '\ebfe';
}
.icon-quality_56__1:before {
  content: '\ebff';
}
.icon-rating_16__0:before {
  content: '\ec00';
}
.icon-rating_20__0:before {
  content: '\ec01';
}
.icon-rating_32__0:before {
  content: '\ec02';
}
.icon-ratingHalf_16__0:before {
  content: '\ec03';
}
.icon-ratingSolid_16__0:before {
  content: '\ec04';
}
.icon-ratingSolid_20__0:before {
  content: '\ec05';
}
.icon-ratingSolid_32__0:before {
  content: '\ec06';
}
.icon-referral_16__0:before {
  content: '\ec07';
}
.icon-referral_20__0:before {
  content: '\ec08';
}
.icon-referral_32__0:before {
  content: '\ec09';
}
.icon-referral_32__1:before {
  content: '\ec0a';
}
.icon-referral_40__0:before {
  content: '\ec0b';
}
.icon-referral_40__1:before {
  content: '\ec0c';
}
.icon-referral_56__0:before {
  content: '\ec0d';
}
.icon-referral_56__1:before {
  content: '\ec0e';
}
.icon-referral_72__0:before {
  content: '\ec0f';
}
.icon-referral_72__1:before {
  content: '\ec10';
}
.icon-refresh_16__0:before {
  content: '\ec11';
}
.icon-rent_16__0:before {
  content: '\ec12';
}
.icon-rent_20__0:before {
  content: '\ec13';
}
.icon-rent_32__0:before {
  content: '\ec14';
}
.icon-rent_32__1:before {
  content: '\ec15';
}
.icon-rent_40__0:before {
  content: '\ec16';
}
.icon-rent_40__1:before {
  content: '\ec17';
}
.icon-rent_56__0:before {
  content: '\ec18';
}
.icon-rent_56__1:before {
  content: '\ec19';
}
.icon-rent_72__0:before {
  content: '\ec1a';
}
.icon-rent_72__1:before {
  content: '\ec1b';
}
.icon-reposition_iviWorld_20__0:before {
  content: '\ec1c';
}
.icon-roundArrowRight_16__0:before {
  content: '\ec1d';
}
.icon-roundArrowRight_20__0:before {
  content: '\ec1e';
}
.icon-roundArrowRight_32__0:before {
  content: '\ec1f';
}
.icon-roundArrowRightOutline_16__0:before {
  content: '\ec20';
}
.icon-roundPlay_32__0:before {
  content: '\ec21';
}
.icon-roundRemove_20__0:before {
  content: '\ec22';
}
.icon-roundRemove_20__1:before {
  content: '\ec23';
}
.icon-sale_32__0:before {
  content: '\ec24';
}
.icon-sale_32__1:before {
  content: '\ec25';
}
.icon-search_16__0:before {
  content: '\ec26';
}
.icon-search_20__0:before {
  content: '\ec27';
}
.icon-search_32__0:before {
  content: '\ec28';
}
.icon-searchCatalog_16__0:before {
  content: '\ec29';
}
.icon-searchCatalog_20__0:before {
  content: '\ec2a';
}
.icon-searchCatalog_32__0:before {
  content: '\ec2b';
}
.icon-searchCatalog_32__1:before {
  content: '\ec2c';
}
.icon-searchCatalog_40__0:before {
  content: '\ec2d';
}
.icon-searchCatalog_40__1:before {
  content: '\ec2e';
}
.icon-searchCatalog_56__0:before {
  content: '\ec2f';
}
.icon-searchCatalog_56__1:before {
  content: '\ec30';
}
.icon-searchCatalog_72__0:before {
  content: '\ec31';
}
.icon-searchCatalog_72__1:before {
  content: '\ec32';
}
.icon-security_16__0:before {
  content: '\ec33';
}
.icon-security_20__0:before {
  content: '\ec34';
}
.icon-security_32__0:before {
  content: '\ec35';
}
.icon-security_32__1:before {
  content: '\ec36';
}
.icon-security_40__0:before {
  content: '\ec37';
}
.icon-security_40__1:before {
  content: '\ec38';
}
.icon-security_56__0:before {
  content: '\ec39';
}
.icon-security_56__1:before {
  content: '\ec3a';
}
.icon-seeAll_16__0:before {
  content: '\ec3b';
}
.icon-selected_16__0:before {
  content: '\ec3c';
}
.icon-selected_20__0:before {
  content: '\ec3d';
}
.icon-selected_32__0:before {
  content: '\ec3e';
}
.icon-serials_16__0:before {
  content: '\ec3f';
}
.icon-serials_20__0:before {
  content: '\ec40';
}
.icon-serials_32__0:before {
  content: '\ec41';
}
.icon-serials_32__1:before {
  content: '\ec42';
}
.icon-serials_40__0:before {
  content: '\ec43';
}
.icon-serials_40__1:before {
  content: '\ec44';
}
.icon-serials_56__0:before {
  content: '\ec45';
}
.icon-serials_56__1:before {
  content: '\ec46';
}
.icon-settings_32__0:before {
  content: '\ec47';
}
.icon-settings_32__1:before {
  content: '\ec48';
}
.icon-share_16__0:before {
  content: '\ec49';
}
.icon-share_20__0:before {
  content: '\ec4a';
}
.icon-show_16__0:before {
  content: '\ec4b';
}
.icon-show_20__0:before {
  content: '\ec4c';
}
.icon-similar_16__0:before {
  content: '\ec4d';
}
.icon-similar_20__0:before {
  content: '\ec4e';
}
.icon-smartTv_16__0:before {
  content: '\ec4f';
}
.icon-smartTv_20__0:before {
  content: '\ec50';
}
.icon-smartTv_32__0:before {
  content: '\ec51';
}
.icon-smartTv_32__1:before {
  content: '\ec52';
}
.icon-smartTv_40__0:before {
  content: '\ec53';
}
.icon-smartTv_40__1:before {
  content: '\ec54';
}
.icon-smartTv_56__0:before {
  content: '\ec55';
}
.icon-smartTv_56__1:before {
  content: '\ec56';
}
.icon-smartTvPromo_16__0:before {
  content: '\ec57';
}
.icon-smartTvPromo_20__0:before {
  content: '\ec58';
}
.icon-sort_16__0:before {
  content: '\ec59';
}
.icon-sport_16__0:before {
  content: '\ec5a';
}
.icon-sport_20__0:before {
  content: '\ec5b';
}
.icon-sport_32__0:before {
  content: '\ec5c';
}
.icon-sport_32__1:before {
  content: '\ec5d';
}
.icon-sport_40__0:before {
  content: '\ec5e';
}
.icon-sport_40__1:before {
  content: '\ec5f';
}
.icon-sport_56__0:before {
  content: '\ec60';
}
.icon-sport_56__1:before {
  content: '\ec61';
}
.icon-sport_72__0:before {
  content: '\ec62';
}
.icon-sport_72__1:before {
  content: '\ec63';
}
.icon-sport_combat_24__0:before {
  content: '\ec64';
}
.icon-sport_fitness_24__0:before {
  content: '\ec65';
}
.icon-sport_football_24__0:before {
  content: '\ec66';
}
.icon-stopLoading_12__0:before {
  content: '\ec67';
}
.icon-subtitles_12__0:before {
  content: '\ec68';
}
.icon-success_16__0:before {
  content: '\ec69';
}
.icon-success_20__0:before {
  content: '\ec6a';
}
.icon-success_32__0:before {
  content: '\ec6b';
}
.icon-success_40__0:before {
  content: '\ec6c';
}
.icon-success_56__0:before {
  content: '\ec6d';
}
.icon-success_72__0:before {
  content: '\ec6e';
}
.icon-successFill_12__0:before {
  content: '\ec6f';
}
.icon-successFill_16__0:before {
  content: '\ec70';
}
.icon-successFill_20__0:before {
  content: '\ec71';
}
.icon-successRound_56__0:before {
  content: '\ec72';
}
.icon-successRound_56__1:before {
  content: '\ec73';
}
.icon-successSolid_32__1:before {
  content: '\ec74';
}
.icon-successSolid_40__1:before {
  content: '\ec75';
}
.icon-successSolid_56__1:before {
  content: '\ec76';
}
.icon-successSolid_72__1:before {
  content: '\ec77';
}
.icon-support_16__0:before {
  content: '\ec78';
}
.icon-support_20__0:before {
  content: '\ec79';
}
.icon-support_32__0:before {
  content: '\ec7a';
}
.icon-support_32__1:before {
  content: '\ec7b';
}
.icon-techQuestions_32__0:before {
  content: '\ec7c';
}
.icon-techQuestions_32__1:before {
  content: '\ec7d';
}
.icon-telephone_16__0:before {
  content: '\ec7e';
}
.icon-telephone_20__0:before {
  content: '\ec7f';
}
.icon-telephone_32__0:before {
  content: '\ec80';
}
.icon-telephone_32__1:before {
  content: '\ec81';
}
.icon-telephone_40__0:before {
  content: '\ec82';
}
.icon-telephone_40__1:before {
  content: '\ec83';
}
.icon-telephone_56__0:before {
  content: '\ec84';
}
.icon-telephone_56__1:before {
  content: '\ec85';
}
.icon-thumbDown_16__0:before {
  content: '\ec86';
}
.icon-thumbDown_20__0:before {
  content: '\ec87';
}
.icon-thumbDown_32__0:before {
  content: '\ec88';
}
.icon-thumbDown_32__1:before {
  content: '\ec89';
}
.icon-thumbDownSolid_16__0:before {
  content: '\ec8a';
}
.icon-thumbDownSolid_20__0:before {
  content: '\ec8b';
}
.icon-thumbDownSolid_32__0:before {
  content: '\ec8c';
}
.icon-thumbDownSolid_32__1:before {
  content: '\ec8d';
}
.icon-thumbUp_16__0:before {
  content: '\ec8e';
}
.icon-thumbUp_20__0:before {
  content: '\ec8f';
}
.icon-thumbUp_32__0:before {
  content: '\ec90';
}
.icon-thumbUp_32__1:before {
  content: '\ec91';
}
.icon-thumbUpSolid_16__0:before {
  content: '\ec92';
}
.icon-thumbUpSolid_20__0:before {
  content: '\ec93';
}
.icon-thumbUpSolid_32__0:before {
  content: '\ec94';
}
.icon-thumbUpSolid_32__1:before {
  content: '\ec95';
}
.icon-tShirt_16__0:before {
  content: '\ec96';
}
.icon-tShirt_20__0:before {
  content: '\ec97';
}
.icon-tvchannels_16__0:before {
  content: '\ec98';
}
.icon-tvchannels_20__0:before {
  content: '\ec99';
}
.icon-tvchannels_32__0:before {
  content: '\ec9a';
}
.icon-tvchannels_32__1:before {
  content: '\ec9b';
}
.icon-tvchannels_40__0:before {
  content: '\ec9c';
}
.icon-tvchannels_40__1:before {
  content: '\ec9d';
}
.icon-tvchannels_56__0:before {
  content: '\ec9e';
}
.icon-tvchannels_56__1:before {
  content: '\ec9f';
}
.icon-tvconsoles_32__0:before {
  content: '\eca0';
}
.icon-tvconsoles_32__1:before {
  content: '\eca1';
}
.icon-tvconsoles_40__0:before {
  content: '\eca2';
}
.icon-tvconsoles_40__1:before {
  content: '\eca3';
}
.icon-tvconsoles_56__0:before {
  content: '\eca4';
}
.icon-tvconsoles_56__1:before {
  content: '\eca5';
}
.icon-tvconsoles_72__0:before {
  content: '\eca6';
}
.icon-tvconsoles_72__1:before {
  content: '\eca7';
}
.icon-tvPlus_16__0:before {
  content: '\eca8';
}
.icon-tvPlus_20__0:before {
  content: '\eca9';
}
.icon-tvPlus_32__0:before {
  content: '\ecaa';
}
.icon-tvPlus_32__1:before {
  content: '\ecab';
}
.icon-undefined:before {
  content: '\ecac';
}
.icon-userAdd_16__0:before {
  content: '\ecad';
}
.icon-userAdd_20__0:before {
  content: '\ecae';
}
.icon-voiceSearch_16__0:before {
  content: '\ecaf';
}
.icon-voiceSearch_20__0:before {
  content: '\ecb0';
}
.icon-voiceSearch_32__0:before {
  content: '\ecb1';
}
.icon-voiceSearch_32__1:before {
  content: '\ecb2';
}
.icon-voiceSearch_40__0:before {
  content: '\ecb3';
}
.icon-voiceSearch_40__1:before {
  content: '\ecb4';
}
.icon-voiceSearch_56__0:before {
  content: '\ecb5';
}
.icon-voiceSearch_56__1:before {
  content: '\ecb6';
}
.icon-volumeMax_16__0:before {
  content: '\ecb7';
}
.icon-volumeMax_20__0:before {
  content: '\ecb8';
}
.icon-volumeMedium_16__0:before {
  content: '\ecb9';
}
.icon-volumeMedium_20__0:before {
  content: '\ecba';
}
.icon-volumeOff_16__0:before {
  content: '\ecbb';
}
.icon-volumeOff_20__0:before {
  content: '\ecbc';
}
.icon-warning_12__0:before {
  content: '\ecbd';
}
.icon-warning_16__0:before {
  content: '\ecbe';
}
.icon-warning_20__0:before {
  content: '\ecbf';
}
.icon-warning_32__0:before {
  content: '\ecc0';
}
.icon-warning_32__1:after {
  content: '\ecc1';
}
.icon-warning_56__0:before {
  content: '\ecc2';
}
.icon-warning_56__1:before {
  content: '\ecc3';
}
.icon-warning_72__0:before {
  content: '\ecc4';
}
.icon-warning_72__1:before {
  content: '\ecc5';
}
.icon-warningBlank_12__0:before {
  content: '\ecc6';
}
.icon-d_32__0:before {
  content: '\ecc7';
}
